@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap");
body {
  top: 0px;
  left: 0px;
  width: 1920px;
  padding-left: 10%;
  background-color: #ffffff;
}

.header-img {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  margin-left: 22%;
  margin-top: 2%;
}

.overlay1-blue {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/ span 2;
  -ms-grid-row: 1;
  grid-row: 1;
  margin-left: -2%;
  margin-top: 1.5%;
}

.overlay-top {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/ span 2;
  -ms-grid-row: 1;
  grid-row: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
}

.overlay2-picture {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/span 2;
  -ms-grid-row: 1;
  grid-row: 1;
}

.overlay3-darkblue {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/span 2;
  -ms-grid-row: 1;
  grid-row: 1;
}

.overlay1-productr {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
}

.header-img {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/span 2;
  -ms-grid-row: 1;
  grid-row: 1;
}

.productr-overlay {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/span 2;
  -ms-grid-row: 1;
  grid-row: 1;
  width: 538px;
  height: 300px;
  background-color: #ffffff;
  margin-top: 7%;
  font-family: open sans;
  margin-left: 8%;
  -webkit-transform: skew(-5deg);
          transform: skew(-5deg);
}

.product-description {
  width: 88%;
  height: 35%;
  font-family: open sans;
  font-size: 22px;
  line-height: 30px;
  font-weight: 300;
  color: #14578C;
  -webkit-transform: skew(5deg);
          transform: skew(5deg);
  margin-left: 2%;
  margin-top: -6%;
}

.header-gsbutton {
  width: 20%;
  height: 10%;
  text-align: center;
  border: 1px solid #14588D;
  border-radius: 10px;
  font-family: open sans;
  font-weight: 600;
  font-size: 12px;
  color: #14588D;
  background: transparent;
  margin-left: 5%;
  -webkit-transform: skew(5deg);
          transform: skew(5deg);
  opacity: 1;
}

.productr-heading {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  margin-top: 2%;
  margin-left: 1%;
  font-size: 25px;
  font-family: raleway;
  color: #14588D;
}

.productr-heading-overlay {
  font-weight: 500;
  -webkit-transform: skew(5deg);
          transform: skew(5deg);
}

.productr-heading-overlay1 {
  -webkit-transform: skew(5deg);
          transform: skew(5deg);
  margin-left: -38%;
  font-weight: 100;
}

.search-industry {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  margin-top: 5%;
  margin-left: 22%;
}

.light-background {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  -ms-grid-row: 1;
  grid-row: 1;
  width: 930px;
  height: 72px;
  background-color: #2581C2;
  -webkit-transform: skew(-35deg);
          transform: skew(-35deg);
  opacity: 0.2;
}

.dark-background {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  -ms-grid-row: 1;
  grid-row: 1;
  width: 827px;
  height: 72px;
  background-color: #14588C;
  margin-left: 3%;
  -webkit-transform: skew(-25deg) rotate(-0.3deg);
          transform: skew(-25deg) rotate(-0.3deg);
  opacity: 0.52;
}

.search-overlay {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
}

.search-industry {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  -ms-grid-row: 1;
  grid-row: 1;
}

.button-overlay {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  -ms-grid-row: 1;
  grid-row: 1;
  margin-top: 5.75%;
  margin-left: 29.5%;
  width: 700px;
  height: 36px;
  -webkit-transform: skew(0deg) rotate(0deg);
          transform: skew(0deg) rotate(0deg);
  border-radius: 10px;
  border: 1px solid transparent;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 30% 30%;
      grid-template-columns: 30% 30% 30%;
  grid-gap: 0%;
}

.button-overlay button {
  width: 195px;
  height: 36px;
  background-color: #ffffff;
  border: 1px solid #0E3B5E;
  font-family: montserrat;
  font-size: 16px;
  border-radius: 10px;
  color: #616161;
  font-weight: 400;
}

.button-overlay .button1 {
  background-color: #14588D;
  color: #ffffff;
  font-weight: 600;
}

.middle-selection-bar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 10% 10%;
      grid-template-columns: 10% 10% 10%;
  margin-left: 10%;
  border-top: 1px solid #707070;
  border-bottom: 1px solid #707070;
  margin-top: 2%;
  opacity: 1;
}

.middle-selection-bar h2 {
  text-align: left;
  font: SemiBold 18px/22px Montserrat;
  font-family: montserrat;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0;
  color: #0E3B5E;
  opacity: 1;
}

.what-we-do-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15% 20% 15%;
      grid-template-columns: 15% 20% 15%;
  margin-left: 20%;
  margin-top: 2%;
}

.what-we-do-section h1 {
  text-align: center;
  font: Medium 30px/39px Raleway;
  font-family: raleway;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 0;
  color: #14588D;
  opacity: 1;
}

.line1 {
  margin-top: 15%;
  height: 0%;
  border: 1px solid #707070;
  opacity: 1;
}

.line2 {
  margin-top: 15%;
  height: 0%;
  border: 1px solid #707070;
  opacity: 1;
}

.we-do-description {
  margin-left: 12%;
  margin-top: 5%;
}

.we-do-description h4 {
  text-align: left;
  font: SemiBold 18px/22px Montserrat;
  font-family: montserrat;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
  color: #0E3B5E;
  opacity: 1;
  margin-top: -3%;
}

.we-do-description p {
  width: 1111px;
  height: 133px;
  text-align: left;
  font: Regular 14px/18px Montserrat;
  font-family: montserrat;
  font-size: 14px;
  font-weight: 100;
  letter-spacing: 0;
  color: #707070;
  opacity: 1;
  overflow: hidden;
  margin-top: -0.5%;
}

.approach-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 20% 20%;
      grid-template-columns: 20% 20% 20%;
  margin-top: 2%;
  margin-left: 14%;
  grid-gap: 3%;
}

.approach-box1 h4 {
  text-align: left;
  font: SemiBold 18px/22px Montserrat;
  font-family: montserrat;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0;
  color: #0E3B5E;
  opacity: 1;
}

.approach-box1 h6 {
  text-align: left;
  font: Medium 14px/18px Montserrat;
  font-family: montserrat;
  margin-top: -5%;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  color: #0E3B5E;
  opacity: 1;
  width: 288px;
}

.approach-box1 p {
  width: 299px;
  height: 128px;
  margin-top: -5%;
  text-align: left;
  font: Regular 14px/18px Montserrat;
  font-family: montserrat;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0;
  color: #707070;
  opacity: 1;
  overflow: hidden;
}

.results-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 20% 20%;
      grid-template-columns: 20% 20% 20%;
  margin-top: 2%;
  margin-left: 14%;
  grid-gap: 3%;
}

.result-box1 h4 {
  text-align: left;
  font: SemiBold 20px/24px Montserrat;
  font-family: montserrat;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0;
  color: #0E3B5E;
  opacity: 1;
}

.result-box1 p {
  width: 299px;
  height: 48px;
  text-align: left;
  font: Light 16px/22px Open Sans;
  font-family: open sans;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 0;
  color: #707070;
  opacity: 1;
  overflow: hidden;
  margin-top: -7%;
}

.random-box1 {
  width: 318px;
  height: 227px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  opacity: 1;
}
/*# sourceMappingURL=main.css.map */