{% extends "./base.html" %}
{% block content %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Us::SwissPack</title>
    <link rel="stylesheet" href="/media/static/css/aboutus.css">
</head>
<body>

        <div class="overlay1-productr">
                <div class="header-img">
                    <img src="/media/static//images/Path 5735.svg" alt="" class="overlay1-blue">
                    <div class="overlay-top">
                    <img src="/media/static//images/Path 5727.png" alt=""  class= "overlay2-picture">
                    <img src="/media/static//images/Path 5732.svg" alt="" class= "overlay3-darkblue">
                    </div>
                </div>
                <div class="productr-overlay">
                    <div class="productr-heading" >
                    <h1 class="productr-heading-overlay" >ABOUT</h1>
                    <h1 class="productr-heading-overlay1">US</h1>
                    </div>
                    <p class="product-description">A leading manufacturer in flexible packaging, Established for over 40 Years, we're trusted by the biggest consumer brands!</p>
                    <button class="header-gsbutton"> Get Samples</button>
            
                </div>
                </div>

    <div class="middle-section" >
        <div class="left-overlay1">
            <img src="/media/static//images/Path 5910.svg" alt="" class="light-back">
            <img src="/media/static//images/Path 5911.png" alt=""class="baby-front">
        </div>
        <div class="right-description">
            <h2>Who We are:</h2>
            <p>Swiss Pack was founded in the early 80’s to provide bespoke eye catching flexible packaging to master chocolatiers. Since these humble origins, the company has evolved to become a recognised Global packaging manufacturer with operations in five continents and production capabilities based in Asia. Swiss Pack Europe is responsible for all EMEA markets offering customers stock and bespoke printed stand up resealable packaging, coffee valve packaging, block bottomed bags, spout pouches, printed rewind rolls, shrink sleeves, degassing valves, zippers and scoops.</p>
        
            <h2>Pouch Shop</h2>
            <p>Pouch Shop is an online factory store for stock packaging servicing the European Region and is part of the Swiss Pack Family. Pouch shop is not an independent reseller or agent, it is owned and managed by Swiss Pack Europe.</p>
        </div>
    </div>


    <div class="year-timeline">

        <div class="above-timeline">
            <div class="above-1990">
                <h2>1990's</h2>
                <p>A leading manufacturer in flexible packaging, Established for over 40 Years, we're trusted by the biggest consumer brands!</p>
            </div>
            <div class="above-2010">
                <h2>2010</h2>
                <p>A leading manufacturer in flexible packaging, Established for over 40 Years, we're trusted by the biggest consumer brands!</p>
            </div>
        </div>
        <div>
            <img src="Group 1038.svg" alt="">
        </div>
        <div class="below-timeline">
            <div class="below-1981">
                <h2>1981</h2>
                <p>A leading manufacturer in flexible packaging, Established for over 40 Years, we're trusted by the biggest consumer brands!</p>
            </div>
            <div class="above-2010">
                <h2>2000</h2>
                <p>A leading manufacturer in flexible packaging, Established for over 40 Years, we're trusted by the biggest consumer brands!</p>
            </div>
            <div class="above-2010">
                <h2>2020</h2>
                <p>A leading manufacturer in flexible packaging, Established for over 40 Years, we're trusted by the biggest consumer brands!</p>
            </div>
        </div>
    </div>

    <div class="lower-brand-section">
        <div>
            <h2>Our Service</h2>

            <h4>Market Sectors</h4>
            <p>For over two decades Swiss Pack has provided superior flexible packaging to customers within the following market sectors: Food, Beverage, Medical and Pharmaceutical products, Industrial goods, Health and Beauty, Household products, Nutritional and Supplement products, Retail and Pet Food products.</p>
        
            <h4>Trusted by Brands</h4>
            <p>In the European region alone, we have had the opportunity to supply some of the most trusted brands in the world. These include the likes of Harrods, Everlast, Hozelock, Hotel Chocolate & 1000's more. We stock and manufacture the largest variety of flexible packaging all available for you to see in anyone of our showrooms across the world! As well as that we like to boast about our transparency,</p>
        
            <h4>Development & Quality Assurance</h4>
            <p class="long-para2">Swiss Pack continues to be a leading developer, manufacturer and supplier of flexible packaging solutions. Driven by technology and innovation, Swiss Pack is at the forefront of delivering solutions for new applications, through continuous development and testing of new films, adhesives and varnishes. This development and innovation is at the core of our business so that we can offer customers superior products that deliver the utmost quality in terms of strength, durability, protection and performance. With advanced barrier properties we strive to ensure all our products are fully compliant and wherever possible exceed relevant Industry quality, performance and hygiene standards. Swiss Pack is certified under ISO 9001/2000 and is in the process of applying for BRC accreditation, placing it in the highest standards of quality in the industry. In addition, each and every stage of the production process is thoroughly monitored and tested.</p>
    
        </div>
        <div class="brand-logo1">
            <img src="Group 81.svg" alt="">
            <img src="applied-logo-large@2x.png" alt="">
            <img src="everlast-boxing-logo-vector-37597.png" alt="">
            <img src="Image 2.png" alt="">
           

        </div>

        <div class="brand-logo2">

            <img src="harrods-logo-png-transparent.png" alt="">
            <img src="Hotel_Chocolat_logo.png" alt="">

            <img src="Tisserand-Aromatherapy-Logo-retina.png" alt="">

            <img src="Image 4.png" alt="">
            <img src="Image 3.png" alt="">

        </div>

    </div>

    <div class="news-section">
        <h2>Latest News..</h2>
        <div class="news-gallery">
            <div>
                <img src="/media/static//images/Path 5784.png" alt="">
                <h4>Heinz Ketchup</h4>
                <p>A leading manufacturer in flexible packaging, Established for over 40 Years, we're trusted by the biggest consumer brands!</p>
            </div>

            <div>
                <img src="/media/static//images/Path 5783.png" alt="">
                <h4>Harrods Coffee</h4>
                <p>A leading manufacturer in flexible packaging, Established for over 40 Years, we're trusted by the biggest consumer brands!</p>
            </div>
            <div>
                <img src="/media/static//images/Path 5784.png" alt="">
                <h4>Resellers & Agents</h4>
                <p>A leading manufacturer in flexible packaging, Established for over 40 Years, we're trusted by the biggest consumer brands!</p>
            </div>
            <div>
                <img src="/media/static//images/Path 5784.png" alt="">
                <h4>Resellers & Agents</h4>
                <p>A leading manufacturer in flexible packaging, Established for over 40 Years, we're trusted by the biggest consumer brands!</p>
            </div>

        </div>


    </div>

    <div class="innovation-section">
        <div class="innovation-left">
        <h1>Our Innovation Centre Swiss Labs..</h1>

        <h4> What is Swiss Labs?</h4>
        <p>Swiss Pack continues to be a leading developer, manufacturer and supplier of flexible packaging solutions. Driven by technology and innovation, Swiss Pack is at the forefront of delivering solutions for new applications, through continuous development and testing of new films, adhesives and varnishes. This development and innovation is at the core of our business so that we can offer customers superior products that deliver the utmost quality in terms of strength, durability, protection and performance. With advanced barrier properties we strive to ensure all our products are fully compliant and wherever possible exceed relevant Industry quality, performance and hygiene standards. Swiss Pack is certified under ISO 9001/2000 and is in the process of applying for BRC accreditation, placing it in the highest standards of quality in the industry. In addition, each and every stage of the production process is thoroughly monitored and tested.</p>

        <h4>Design Innovation</h4>
        <p>Swiss Pack continues to be a leading developer, manufacturer and supplier of flexible packaging solutions. Driven by technology and innovation, Swiss Pack is at the forefront of delivering solutions for new applications, through continuous development and testing of new films, adhesives and varnishes. This development and innovation is at the core of our business so that we can offer customers superior products that deliver the utmost quality in terms of strength, durability, protection and performance. With advanced barrier properties we strive to ensure all our products are fully compliant and wherever possible exceed relevant Industry quality, performance and hygiene standards. Swiss Pack is certified under ISO 9001/2000 and is in the process of applying for BRC accreditation, placing it in the highest standards of quality in the industry. In addition, each and every stage of the production process is thoroughly monitored and tested.</p>
        
        <h4>Consultancy Services</h4>
        <p>Swiss Pack continues to be a leading developer, manufacturer and supplier of flexible packaging solutions. Driven by technology and innovation, Swiss Pack is at the forefront of delivering solutions for new applications, through continuous development and testing of new films, adhesives and varnishes. This development and innovation is at the core of our business so that we can offer customers superior products that deliver the utmost quality in terms of strength, durability, protection and performance. With advanced barrier properties we strive to ensure all our products are fully compliant and wherever possible exceed relevant Industry quality, performance and hygiene standards. Swiss Pack is certified under ISO 9001/2000 and is in the process of applying for BRC accreditation, placing it in the highest standards of quality in the industry. In addition, each and every stage of the production process is thoroughly monitored and tested.</p>
    
        <h4>Research & Development</h4>
        <p>Swiss Pack continues to be a leading developer, manufacturer and supplier of flexible packaging solutions. Driven by technology and innovation, Swiss Pack is at the forefront of delivering solutions for new applications, through continuous development and testing of new films, adhesives and varnishes. This development and innovation is at the core of our business so that we can offer customers superior products that deliver the utmost quality in terms of strength, durability, protection and performance. With advanced barrier properties we strive to ensure all our products are fully compliant and wherever possible exceed relevant Industry quality, performance and hygiene standards. Swiss Pack is certified under ISO 9001/2000 and is in the process of applying for BRC accreditation, placing it in the highest standards of quality in the industry. In addition, each and every stage of the production process is thoroughly monitored and tested.</p>
    
    
        <button>Swiss Labs</button>
    </div>

    <div class="innovation-right">
        <div class="overlay-img2">
            <img src="/media/static//images/Path 5927.svg" alt="" class="light-img2">
            <img src="/media/static//images/Path 5928.png" alt="" class="baby-img2" >

        </div>
        <div class="bottom-gallery">
        <img src="/media/static//images/Path 5934.png" alt="">
        <img src="/media/static//images/Path 5934.png" alt="">
        <img src="/media/static//images/Path 5934.png" alt="">
        <img src="/media/static//images/Path 5934.png" alt="">
        <img src="/media/static//images/Path 5934.png" alt="">
        <img src="/media/static//images/Path 5934.png" alt="">
        <img src="/media/static//images/Path 5934.png" alt="">
        <img src="/media/static//images/Path 5934.png" alt="">

        </div>
    </div>
        


    </div>



</body>
{% endblock %}