{% extends "./base.html" %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/media/static/css/babyfood.css">
</head>
<body>
    <div class="overlay1-productr">
        <div class="header-img">
            <img src="/media/static/images/Path 5735.svg" alt="" class="overlay1-blue">
            <div class="overlay-top">
            <img src="/media/static/images/Path 5727.png" alt=""  class= "overlay2-picture">
            <img src="/media/static/images/Path 5732.svg" alt="" class= "overlay3-darkblue">
            </div>
        </div>
        <div class="productr-overlay">
            <div class="productr-heading" >
            <h1 class="productr-heading-overlay" >BABY</h1>
            <h1 class="productr-heading-overlay1">FOOD</h1>
            </div>
            <p class="product-description">A leading manufacturer in flexible packaging, Established for over 40 Years, we're trusted by the biggest consumer brands!</p>
            <button class="header-gsbutton"><a href="{% url 'sample' %}"> Get Samples</a></button>
    
        </div>
        </div>

        <div class="industry-overview">
            <div class="industry-overview-left">
                <h2>Industry Overview</h2>
                <p>Flexible packaging is our craft, from custom shaped and printed packaging to stock items, each item is manufactured to the same high quality standard. We offer 40 Years of design and operational expertise to provide you packaging that elevates your product.<br><br> Flexible packaging is our craft, from custom shaped and printed packaging to stock items, each item is manufactured to the same high quality standard. We offer 40 Years of design and operational expertise to provide you packaging that elevates your product.<br> <br> packaging is our craft, from custom shaped and printed packaging to stock items, each item is manufactured to the same high quality standard. We offer 40 Years of design and operational expertise to provide you packaging that elevates your product.</p>
            </div>
            <div class="industry-overview-right">
                <img src="/media/static/images/Path 5748.png" alt="" class="industry-overview-img">
                <div class="overview-right-overlay">
                    <h4> Cow & Gate</h4>
                    <p>A leading manufacturer in flexible packaging, Established for over 40 Years, we're trusted by the biggest consumer brands!</p>
                </div>
            </div>
        </div>
        <div class="product-solution-section">
            <div class="product-solution">
                <h2>Product Solutions</h2>
                <p>Flexible packaging is our craft, from custom shaped and printed packaging to stock items, each item is manufactured to the same high quality standard. We offer 40 Years of design and operational expertise to provide you packaging that elevates your product.</p>
                <div class="product-solution-range">
                    <div class="product-solution1">
                        <div class="product-solution11">
                        <img src="/media/static/images/Rectangle 1181.png" alt="">
                        <h4>Swiss Gusset</h4>
                        <p>Flexible packaging is our craft, from custom shaped and printed packaging to stock items, each item is manufactured to the same high quality standard. We offer 40 Years of design and operational expertise to provide you packaging that elevates your product.</p>
                    </div>
                    <div class="product-solution11">
                            <img src="/media/static/images/Rectangle 1181.png" alt="">
                            <h4>Swiss Kraft</h4>
                            <p>Flexible packaging is our craft, from custom shaped and printed packaging to stock items, each item is manufactured to the same high quality standard. We offer 40 Years of design and operational expertise to provide you packaging that elevates your product.</p>
                        </div>
                        <div class="product-solution11">
                                <img src="/media/static/images/Rectangle 1181.png" alt="">
                                <h4>Swiss Aqua</h4>
                                <p>Flexible packaging is our craft, from custom shaped and printed packaging to stock items, each item is manufactured to the same high quality standard. We offer 40 Years of design and operational expertise to provide you packaging that elevates your product.</p>
                            </div>
                            <div class="product-solution11">
                                    <img src="/media/static/images/Rectangle 1181.png" alt="">
                                    <h4>Swiss Aqua</h4>
                                    <p>Flexible packaging is our craft, from custom shaped and printed packaging to stock items, each item is manufactured to the same high quality standard. We offer 40 Years of design and operational expertise to provide you packaging that elevates your product.</p>
                                </div>
                                <div class="product-solution11">
                                        <img src="/media/static/images/Rectangle 1181.png" alt="">
                                        <h4>Swiss Kraft</h4>
                                        <p>Flexible packaging is our craft, from custom shaped and printed packaging to stock items, each item is manufactured to the same high quality standard. We offer 40 Years of design and operational expertise to provide you packaging that elevates your product.</p>
                                    </div>

                    </div>
                </div>
                <div class="frequently-asked">
                    <h2>Frequently Asked Industry Questions</h2>
                    <h4>Is Compostable packaging suitable for baby food?</h4>
                    <p>Flexible packaging is our craft, from custom shaped and printed packaging to stock items, each item is manufactured to the same high quality standard. We offer 40 Years of design and operational expertise to provide you packaging that elevates your product. Flexible packaging is our craft, from custom shaped and printed packaging to stock items, each item is manufactured to the same high quality standard. We offer 40 Years of design and operational expertise to provide you packaging that elevates your product. Flexible packaging is our craft, from custom shaped and printed packaging to stock items, each item is manufactured to the same high quality standard. We offer 40 Years of design and operational expertise to provide you packaging that elevates your product.</p>
                
                    <h4>Are there any legal requirements for baby food packaging?</h4>
                    <p>Flexible packaging is our craft, from custom shaped and printed packaging to stock items, each item is manufactured to the same high quality standard. We offer 40 Years of design and operational expertise to provide you packaging that elevates your product. Flexible packaging is our craft, from custom shaped and printed packaging to stock items, each item is manufactured to the same high quality standard. We offer 40 Years of design and operational expertise to provide you packaging that elevates your product. Flexible packaging is our craft, from custom shaped and printed packaging to stock items, each item is manufactured to the same high quality standard. We offer 40 Years of design and operational expertise to provide you packaging that elevates your product.</p>

                    <h4>End User Benefits</h4>
                    <p>Flexible packaging is our craft, from custom shaped and printed packaging to stock items, each item is manufactured to the same high quality standard. We offer 40 Years of design and operational expertise to provide you packaging that elevates your product. Flexible packaging is our craft, from custom shaped and printed packaging to stock items, each item is manufactured to the same high quality standard. We offer 40 Years of design and operational expertise to provide you packaging that elevates your product. Flexible packaging is our craft, from custom shaped and printed packaging to stock items, each item is manufactured to the same high quality standard. We offer 40 Years of design and operational expertise to provide you packaging that elevates your product.</p>
                </div>
            </div>
            <div class="latest-news">
                <h2>Latest News & Cases</h2>
                <p>Flexible packaging is our craft, from custom shaped and printed packaging to stock items, each item is manufactured to the same high quality standard. We offer 40 Years of design and operational expertise to provide you packaging that elevates your product.</p>
               <div class="latest-news-all">
                <div class="latest-news1">
                    <img src="/media/static/images/Path 5779.png" alt="">
                    <h4>Career's at Swiss Pack</h4>
                    <p>A leading manufacturer in flexible packaging, Established for over 40 Years, we're trusted by the biggest consumer brands!</p>
                </div>
                <div class="latest-news1">
                        <img src="/media/static/images/Path 5778.png" alt="">
                        <h4>Resellers & Agents</h4>
                        <p>A leading manufacturer in flexible packaging, Established for over 40 Years, we're trusted by the biggest consumer brands!</p>
                    </div>
                    <div class="latest-news1">
                            <img src="/media/static/images/Path 5777.png" alt="">
                            <h4>Building a better World</h4>
                            <p>A leading manufacturer in flexible packaging, Established for over 40 Years, we're trusted by the biggest consumer brands!</p>
                        </div>
                        <div class="latest-news1">
                            <div class="latest-news11">
                                <img src="/media/static/images/Path 5780.png" alt="">
                                <h4>Resellers & Agents</h4>
                                <p>A leading manufacturer in flexible packaging, Established for over 40 Years, we're trusted by the biggest consumer brands!</p>
                            </div>
                            
                        </div>
                            
                </div>
            </div>
            </div>
        </div>


{% endblock %}