{% extends "./swiss-labs.html" %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SwissLabs::SwissPack</title>
    <link rel="stylesheet" href="/media/static/css/swiss-labs.css">
</head>
<DIV class="lab-items">
    <div>
        <img src="/media/static//images/Path 5949.png" alt="">
        <h4>Fiona Walker</h4>
    </div>
    <div>
        <img src="/media/static//images/Path 5796.png" alt="">
        <h4><a href="{% url 'item_function' %}">George Cuthbertson</a></h4>
    </div>
    <div>
            <img src="/media/static//images/Path 5949.png" alt="">
            <h4>Fiona Walker</h4>
        </div>
        <div>
            <img src="/media/static//images/Path 5796.png" alt="">
        <h4>Kiss Branding Ltd</h4>
        </div>
        <div>
                <img src="/media/static//images/Path 5949.png" alt="">
                <h4>Fiona Walker</h4>
            </div>
            <div>
                <img src="/media/static//images/Path 5796.png" alt="">
                <h4>George Cuthbertson</h4>
            </div>
            <div>
                    <img src="/media/static//images/Path 5949.png" alt="">
                    <h4>Fiona Walker</h4>
                </div>
                <div>
                    <img src="/media/static//images/Path 5796.png" alt="">
                <h4>Kiss Branding Ltd</h4>
                </div>
                <div>
                        <img src="/media/static//images/Path 5949.png" alt="">
                        <h4>Fiona Walker</h4>
                    </div>
                    <div>
                        <img src="/media/static//images/Path 5796.png" alt="">
                        <h4>George Cuthbertson</h4>
                    </div>
                    <div>
                            <img src="/media/static//images/Path 5949.png" alt="">
                            <h4>Fiona Walker</h4>
                        </div>
                        <div>
                            <img src="/media/static//images/Path 5796.png" alt="">
                        <h4>Kiss Branding Ltd</h4>
                        </div>
                        <div>
                                <img src="/media/static//images/Path 5949.png" alt="">
                                <h4>Fiona Walker</h4>
                            </div>
                            <div>
                                <img src="/media/static//images/Path 5796.png" alt="">
                                <h4>George Cuthbertson</h4>
                            </div>
                            <div>
                                    <img src="/media/static//images/Path 5949.png" alt="">
                                    <h4>Fiona Walker</h4>
                                </div>
                                <div>
                                    <img src="/media/static//images/Path 5796.png" alt="">
                                <h4>Kiss Branding Ltd</h4>
                                </div>
                                <div>
                                        <img src="/media/static//images/Path 5949.png" alt="">
                                        <h4>Fiona Walker</h4>
                                    </div>
                                    <div>
                                        <img src="/media/static//images/Path 5796.png" alt="">
                                        <h4>George Cuthbertson</h4>
                                    </div>
                                    <div>
                                            <img src="/media/static//images/Path 5949.png" alt="">
                                            <h4>Fiona Walker</h4>
                                        </div>
                                        <div>
                                            <img src="/media/static//images/Path 5796.png" alt="">
                                        <h4>Kiss Branding Ltd</h4>
                                        </div>
                                        <div>
                                                <img src="/media/static//images/Path 5949.png" alt="">
                                                <h4>Fiona Walker</h4>
                                            </div>
                                            <div>
                                                <img src="/media/static//images/Path 5796.png" alt="">
                                                <h4>George Cuthbertson</h4>
                                            </div>
                                            <div>
                                                    <img src="/media/static//images/Path 5949.png" alt="">
                                                    <h4>Fiona Walker</h4>
                                                </div>
                                                <div>
                                                    <img src="/media/static//images/Path 5796.png" alt="">
                                                <h4>Kiss Branding Ltd</h4>
                                                </div>
</DIV>
{% endblock %}