{% extends "./base.html" %}
{% block content %}
<head>
 <meta charset="utf-8"/>
 <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
 <meta content="ie=edge" http-equiv="X-UA-Compatible"/>
 <title>
  Document
 </title>
 <link href="/media/static/css/industries.css" rel="stylesheet"/>
</head>
<body>
 <div class="overlay1-productr">
  <div class="header-img">
   <img alt="" class="overlay1-blue" src="/media/static//images/Path 5735.svg"/>
   <div class="overlay-top">
    <img alt="" class="overlay2-picture" src="/media/static//images/Path 5727.png"/>
    <img alt="" class="overlay3-darkblue" src="/media/static//images/Path 5732.svg"/>
   </div>
  </div>
  <div class="productr-overlay">
   <div class="productr-heading">
                <h1 class="productr-heading-overlay" >INDUSTRY</h1>
            <h1 class="productr-heading-overlay1">SOLUTIONS</h1>
   </div>
   <p class="product-description">
    A leading manufacturer in flexible packaging, Established for over 40 Years, we're trusted by the biggest consumer brands!
   </p>
   <button class="header-gsbutton"><a href="{% url 'sample' %}"> Get Samples</a></button>
  </div>
 </div>
 <div class="search-overlay">
  <div class="search-industry">
   <div class="light-background">
   </div>
   <div class="dark-background">
   </div>
  </div>
  <input class="search-bar" placeholder="Search Industry" type="text"/>
 </div>
 <div class="industry-box">
  <div class="industry-box1">
   <img alt="" class="box1-img1" src="/media/static//images/Path 5748.png"/>
   <div class="overlay-box1">
    <h2><a href="{% url 'babyfood' %}">
     Baby Food &amp; Accessor..
    </a></h2>
    <p>
     A leading manufacturer in flexible packaging, Established for over 40 Years, we're trusted by the biggest consumer brands!
    </p>
   </div>
  </div>
  <div class="industry-box1">
   <img alt="" class="box1-img1" src="/media/static//images/Path 5752.png"/>
   <div class="overlay-box1">
    <h2>
     Bath Salt
    </h2>
    <p>
     A leading manufacturer in flexible packaging, Established for over 40 Years, we're trusted by the biggest consumer brands!
    </p>
   </div>
  </div>
  <div class="industry-box1">
   <img alt="" class="box1-img1" src="/media/static//images/Path 5753.png"/>
   <div class="overlay-box1">
    <h2>
     Beauty &amp; Cosmetics
    </h2>
    <p>
     A leading manufacturer in flexible packaging, Established for over 40 Years, we're trusted by the biggest consumer brands!
    </p>
   </div>
  </div>
  <div class="industry-box1">
   <img alt="" class="box1-img1" src="/media/static//images/Path 5756.png"/>
   <div class="overlay-box1">
    <h2>
     Beverages
    </h2>
    <p>
     A leading manufacturer in flexible packaging, Established for over 40 Years, we're trusted by the biggest consumer brands!
    </p>
   </div>
  </div>
  <div class="industry-box1">
   <img alt="" class="box1-img1" src="/media/static//images/Path 5755.png"/>
   <div class="overlay-box1">
    <h2>
     Biscuits/Cookies
    </h2>
    <p>
     A leading manufacturer in flexible packaging, Established for over 40 Years, we're trusted by the biggest consumer brands!
    </p>
   </div>
  </div>
  <div class="industry-box1">
   <img alt="" class="box1-img1" src="/media/static//images/Path 5754.png"/>
   <div class="overlay-box1">
    <h2>
     CBD
    </h2>
    <p>
     A leading manufacturer in flexible packaging, Established for over 40 Years, we're trusted by the biggest consumer brands!
    </p>
   </div>
  </div>
  <div class="industry-box1">
   <img alt="" class="box1-img1" src="/media/static//images/Path 5756.png"/>
   <div class="overlay-box1">
    <h2>
     Cheese
    </h2>
    <p>
     A leading manufacturer in flexible packaging, Established for over 40 Years, we're trusted by the biggest consumer brands!
    </p>
   </div>
  </div>
  <div class="industry-box1">
   <img alt="" class="box1-img1" src="/media/static//images/Path 5756.png"/>
   <div class="overlay-box1">
    <h2>
     Chocolate
    </h2>
    <p>
     A leading manufacturer in flexible packaging, Established for over 40 Years, we're trusted by the biggest consumer brands!
    </p>
   </div>
  </div>
  <div class="industry-box1">
   <img alt="" class="box1-img1" src="/media/static//images/Path 5756.png"/>
   <div class="overlay-box1">
    <h2>
     Cleaning &amp; Detergents
    </h2>
    <p>
     A leading manufacturer in flexible packaging, Established for over 40 Years, we're trusted by the biggest consumer brands!
    </p>
   </div>
  </div>
  <div class="industry-box1">
   <img alt="" class="box1-img1" src="/media/static//images/Path 5756.png"/>
   <div class="overlay-box1">
    <h2>
     Coffee
    </h2>
    <p>
     A leading manufacturer in flexible packaging, Established for over 40 Years, we're trusted by the biggest consumer brands!
    </p>
   </div>
  </div>
  <div class="industry-box1">
   <img alt="" class="box1-img1" src="/media/static//images/Path 5756.png"/>
   <div class="overlay-box1">
    <h2>
     Electronics
    </h2>
    <p>
     A leading manufacturer in flexible packaging, Established for over 40 Years, we're trusted by the biggest consumer brands!
    </p>
   </div>
  </div>
  <div class="industry-box1">
   <img alt="" class="box1-img1" src="/media/static//images/Path 5756.png"/>
   <div class="overlay-box1">
    <h2>
     Fixtures &amp; Fastners
    </h2>
    <p>
     A leading manufacturer in flexible packaging, Established for over 40 Years, we're trusted by the biggest consumer brands!
    </p>
   </div>
  </div>
  <div class="industry-box1">
   <img alt="" class="box1-img1" src="/media/static//images/Path 5756.png"/>
   <div class="overlay-box1">
    <h2>
     Fishing Bait
    </h2>
    <p>
     A leading manufacturer in flexible packaging, Established for over 40 Years, we're trusted by the biggest consumer brands!
    </p>
   </div>
  </div>
  <div class="industry-box1">
   <img alt="" class="box1-img1" src="/media/static//images/Path 5756.png"/>
   <div class="overlay-box1">
    <h2>
     Food &amp; Snacks
    </h2>
    <p>
     A leading manufacturer in flexible packaging, Established for over 40 Years, we're trusted by the biggest consumer brands!
    </p>
   </div>
  </div>
  <div class="industry-box1">
   <img alt="" class="box1-img1" src="/media/static//images/Path 5756.png"/>
   <div class="overlay-box1">
    <h2>
     Fruit
    </h2>
    <p>
     A leading manufacturer in flexible packaging, Established for over 40 Years, we're trusted by the biggest consumer brands!
    </p>
   </div>
  </div>
  <div class="industry-box1">
   <img alt="" class="box1-img1" src="/media/static//images/Path 5756.png"/>
   <div class="overlay-box1">
    <h2>
     Grains - Flour, Rice..
    </h2>
    <p>
     A leading manufacturer in flexible packaging, Established for over 40 Years, we're trusted by the biggest consumer brands!
    </p>
   </div>
  </div>
  <div class="industry-box1">
   <img alt="" class="box1-img1" src="/media/static//images/Path 5756.png"/>
   <div class="overlay-box1">
    <h2>
     Jerky, Fish &amp; Meat
    </h2>
    <p>
     A leading manufacturer in flexible packaging, Established for over 40 Years, we're trusted by the biggest consumer brands!
    </p>
   </div>
  </div>
  <div class="industry-box1">
   <img alt="" class="box1-img1" src="/media/static//images/Path 5756.png"/>
   <div class="overlay-box1">
    <h2>
     Pet Food
    </h2>
    <p>
     A leading manufacturer in flexible packaging, Established for over 40 Years, we're trusted by the biggest consumer brands!
    </p>
   </div>
  </div>
  <div class="industry-box1">
   <img alt="" class="box1-img1" src="/media/static//images/Path 5756.png"/>
   <div class="overlay-box1">
    <h2>
     Pharmaceutical
    </h2>
    <p>
     A leading manufacturer in flexible packaging, Established for over 40 Years, we're trusted by the biggest consumer brands!
    </p>
   </div>
  </div>
  <div class="industry-box1">
   <img alt="" class="box1-img1" src="/media/static//images/Path 5756.png"/>
   <div class="overlay-box1">
    <h2>
     Protein
    </h2>
    <p>
     A leading manufacturer in flexible packaging, Established for over 40 Years, we're trusted by the biggest consumer brands!
    </p>
   </div>
  </div>
  <div class="industry-box1">
   <img alt="" class="box1-img1" src="/media/static//images/Path 5756.png"/>
   <div class="overlay-box1">
    <h2>
     Ready to Eat
    </h2>
    <p>
     A leading manufacturer in flexible packaging, Established for over 40 Years, we're trusted by the biggest consumer brands!
    </p>
   </div>
  </div>
  <div class="industry-box1">
   <img alt="" class="box1-img1" src="/media/static//images/Path 5756.png"/>
   <div class="overlay-box1">
    <h2>
     Sugar &amp; Spices
    </h2>
    <p>
     A leading manufacturer in flexible packaging, Established for over 40 Years, we're trusted by the biggest consumer brands!
    </p>
   </div>
  </div>
  <div class="industry-box1">
   <img alt="" class="box1-img1" src="/media/static//images/Path 5756.png"/>
   <div class="overlay-box1">
    <h2>
     Tea
    </h2>
    <p>
     A leading manufacturer in flexible packaging, Established for over 40 Years, we're trusted by the biggest consumer brands!
    </p>
   </div>
  </div>
  <div class="industry-box1">
   <img alt="" class="box1-img1" src="/media/static//images/Path 5756.png"/>
   <div class="overlay-box1">
    <h2>
     Tobacco
    </h2>
    <p>
     A leading manufacturer in flexible packaging, Established for over 40 Years, we're trusted by the biggest consumer brands!
    </p>
   </div>
  </div>
 </div>
</body>
{% endblock %}}
