{% extends "./swiss-labs.html" %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/media/static/css/material.css">
</head>
    <div class="middle-section-grid">

    <div class="left-section">
        <h2>We're here to help!</h2>
        <h2>We're here to help!</h2>
        <h4>+44 (0)208 427 9944</h4>


        <input type="text" placeholder="First Name*">
        <input type="text" placeholder="Last Name">
        <input type="text" placeholder="Email">
        <input type="text" placeholder="Phone*">
        <input type="text" placeholder="Industry*">
        <input type="text" placeholder="Requirements*" class="big-box1">
        <p>I understand the Terms of Use of this site & agree to the be contacted.</p>

        <button>Agree & Send Message</button>
    </div>


    <div class="right-img-section">
        <img src="/media/static/images/Path 5796.png" alt="">
        <h2 > Kiss Branding Ltd</h2>
    </div>


    </div>
{% endblock %}