{% extends "./base.html" %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/media/static/css/productpage.css">
</head>
<body>
    <div class="overlay1-productr">
        <div class="header-img">
            <img src="/media/static/images/Path 5735.svg" alt="" class="overlay1-blue">
            <div class="overlay-top">
            <img src="/media/static/images/Path 5727.png" alt=""  class= "overlay2-picture">
            <img src="/media/static/images/Path 5732.svg" alt="" class= "overlay3-darkblue">
            </div>
        </div>
        <div class="productr-overlay">
            <div class="productr-heading" >
            <h1 class="productr-heading-overlay" >SWISS</h1>
            <h1 class="productr-heading-overlay1">DOY</h1>
            </div>
            <p class="product-description">A leading manufacturer in flexible packaging, Established for over 40 Years, we're trusted by the biggest consumer brands!</p>
            <button class="header-gsbutton"> Get Samples</button>
    
        </div>
        </div>

        <div class="middle-section">

        <div class="left-side-bar">
            <ul>
                <li>Swiss Lite
                    <div class="temp-line"></div>
                </li>
                <li>Swiss Kraft
                        <div class="temp-line"></div>
                </li>
                <li>Swiss Doy(Stand up Pouch)
                        <div class="temp-line"></div>
                </li>
                <li>Swiss Aqua
                        <div class="temp-line"></div>
                </li>
                <li>Swiss Gusset
                        <div class="temp-line"></div>
                </li>
                <li>Bar Packaging
                        <div class="temp-line"></div>
                </li>
                <li>Capsules
                        <div class="temp-line"></div>
                </li>
                <li>Mailer Bags
                        <div class="temp-line"></div>
                </li>
                <li>Printed Film
                        <div class="temp-line"></div>
                </li>
                <li>Sealers
                        <div class="temp-line"></div>
                </li>
                <button>Order Free Sample</button>
            </ul>

        </div>

        <div class="over-view-center">
            <img src="Rectangle 1216.png" alt="">
            <button>
                Mock Up Generator
            </button>
            <h2>Overview</h2>
            <h4> Customer Benefits</h4>
            <p>Flexible packaging is our craft, from custom shaped and printed packaging to stock items, each item is manufactured to the same high quality standard. We offer 40 Years of design and operational expertise to provide you packaging that elevates your produc Flexible packaging is our craft, from custom shaped and printed packaging to stock items, each item is manufactured to the same high quality standard. We offer 40 Years of design and operational expertise to provide you packaging that elevates your product.</p>
            <h4>End User Benefits</h4>
            <p>Flexible packaging is our craft, from custom shaped and printed packaging to stock items, each item is manufactured to the same high quality standard. We offer 40 Years of design and operational expertise to provide you packaging that elevates your produc Flexible packaging is our craft, from custom shaped and printed packaging to stock items, each item is manufactured to the same high quality standard. We offer 40 Years of design and operational expertise to provide you packaging that elevates your product.</p>
            <h4>Industry Uses</h4>
            <p>Flexible packaging is our craft, from custom shaped and printed packaging to stock items, each item is manufactured to the same high quality standard. We offer 40 Years of design and operational expertise to provide you packaging that elevates your produc Flexible packaging is our craft, from custom shaped and printed packaging to stock items, each item is manufactured to the same high quality standard. We offer 40 Years of design and operational expertise to provide you packaging that elevates your product.</p>
            <h4>Our Portfolio</h4>
            <p class="short-para1">Flexible packaging is our craft, from custom shaped and printed packaging to stock items, each item is manufactured to the same high quality standard. We offer 40 Years of design and operational expertise to provide you packaging that elevates your produc Flexible packaging is our craft, from custom shaped and printed packaging to stock items, each item is manufactured to the same high quality standard. We offer 40 Years of design and operational expertise to provide you packaging that elevates your product.</p>

            
        </div>

        <div class="specification-side">
            <h2>Specifications</h2>
            
            <h4>Material</h4>
        <div class="mybox1">
                <p>Select<i class="myarrow1"></i></p>
        </div>

        <h4>Sizes</h4>
        <div class="mybox1">
                <p>Select<i class="myarrow1"></i></p>
        </div>

        <h4>Accessories</h4>
        <div class="mybox1">
                <p>Select Multiple<i class="myarrow2"></i></p>
        </div>


        <h4>Finishes</h4>
        <div class="mybox1">
                <p>Select<i class="myarrow1"></i></p>
        </div>


        <div class="line1"></div>
        <div class="contact">
            <p>+44 (0)208 427 9944</p>
        </div>
        <button>Request Quote</button>




        </div>



        </div>



        <div class="portfolio-content">
                <div class="portfolio1">
                    <img src="/media/static/images/Path 5784.png" alt="">
                    <h2>Heinz Ketchup</h2>
                    <p>A leading manufacturer in flexible packaging, Established for over 40 Years, we're trusted by the biggest consumer brands!</p>
                </div>
                <div class="portfolio1">
                        <img src="/media/static/images/Path 5783.png" alt="">
                        <h2>Harrods Coffee</h2>
                        <p>A leading manufacturer in flexible packaging, Established for over 40 Years, we're trusted by the biggest consumer brands!</p>
                    </div>
                    <div class="portfolio1">
                            <img src="/media/static/images/Path 5782.png" alt="">
                            <h2>Resellers & Agents</h2>
                            <p>A leading manufacturer in flexible packaging, Established for over 40 Years, we're trusted by the biggest consumer brands!</p>
                        </div>
                        <div class="portfolio1">
                                <img src="/media/static/images/Path 5784.png" alt="">
                                <h2>Reseller & Agents</h2>
                                <p>A leading manufacturer in flexible packaging, Established for over 40 Years, we're trusted by the biggest consumer brands!</p>
                            </div>
                            <div class="portfolio1">
                                    <img src="/media/static/images/Path 5783.png" alt="">
                                    <h2>Building a better World</h2>
                                    <p>A leading manufacturer in flexible packaging, Established for over 40 Years, we're trusted by the biggest consumer brands!</p>
                                </div>
                                <div class="portfolio1">
                                        <img src="/media/static/images/Path 5782.png" alt="">
                                        <h2>Resellers & Agents</h2>
                                        <p>A leading manufacturer in flexible packaging, Established for over 40 Years, we're trusted by the biggest consumer brands!</p>
                                    </div>
            </div>
{% endblock %}