<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/media/static/css/profile.css">
</head>
<body>
    <div class="multi-section">
        <div class="left-section">
            <h2>Your Profile</h2>
            <ul>
                {% for item in data %}
                <li><input type="text" placeholder="First Name" value={{item.firstname}}></li>
                <li><input type="text" placeholder="Last Name" value={{item.lastname}}></li>
                <li><input type="text" placeholder="About You" class="special-size" value={{item.about_me}}> </li>
                <li><input type="text" name="" id="" placeholder="Email Address" value={{item.email_id}}></li>
                <li><input type="text" name="" id="" placeholder="Phone No" value={{phone}}></li>
                {% endfor %}

            </ul>

            <button>Save</button>


        </div> 
        <div class="right-section">
            <div class="right-top-bar">
                <h2>Your Content</h2>
                <div></div>
                <h2 class="special-color1">Enquiries</h2>
            </div>

            <div class="section-box1">
                <div class="img-box"></div>
                <div class="description-box">
                    <h4>Description - Pitch your product here..</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>
                <button> Upload </button>
            </div>

            <div class="section-box1">
                    <div class="img-box"></div>
                    <div class="description-box">
                        <h4>Description - Pitch your product here..</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>
                    <button> Upload </button>
                </div>

                <div class="section-box1">
                        <div class="img-box"></div>
                        <div class="description-box">
                            <h4>Description - Pitch your product here..</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        </div>
                        <button> Upload </button>
                    </div>

                    <button class="bottom-save-button" >Save</button>
        </div>
    </div>
</body>
</html>