{% extends "./base.html" %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/media/static/css/sample.css">
</head>
<body>
    <div class="overlay1-productr">
        <div class="header-img">
            <img src="/media/static/images/Path 5735.svg" alt="" class="overlay1-blue">
            <div class="overlay-top">
            <img src="/media/static/images/Path 5727.png" alt=""  class= "overlay2-picture">
            <img src="/media/static/images/Path 5732.svg" alt="" class= "overlay3-darkblue">
            </div>
        </div>
        <div class="productr-overlay">
            <div class="productr-heading" >
            <h1 class="productr-heading-overlay" >SWISS</h1>
            <h1 class="productr-heading-overlay1">DOY</h1>
            </div>
            <p class="product-description">A leading manufacturer in flexible packaging, Established for over 40 Years, we're trusted by the biggest consumer brands!</p>
            <button class="header-gsbutton"><a href="{% url 'sample' %}"> Get Samples</a></button>
    
        </div>
        </div>

        <div class="middle-section">

        <div class="left-side-bar">
            <ul>
                <li>Swiss Lite
                    <div class="temp-line"></div>
                </li>
                <li>Swiss Kraft
                        <div class="temp-line"></div>
                </li>
                <li>Swiss Doy(Stand up Pouch)
                        <div class="temp-line"></div>
                </li>
                <li>Swiss Aqua
                        <div class="temp-line"></div>
                </li>
                <li>Swiss Gusset
                        <div class="temp-line"></div>
                </li>
                <li>Bar Packaging
                        <div class="temp-line"></div>
                </li>
                <li>Capsules
                        <div class="temp-line"></div>
                </li>
                <li>Mailer Bags
                        <div class="temp-line"></div>
                </li>
                <li>Printed Film
                        <div class="temp-line"></div>
                </li>
                <li>Sealers
                        <div class="temp-line"></div>
                </li>
                <button>Order Free Sample</button>
            </ul>

        </div>

        <div class="sample-section" >
            <h2>Select your Sample</h2>
            <div class="properties-sample" >

                <div class="sample-number">
                    <h2></h2>
                    <h2></h2>
                    <h2>Sample 1.</h2>
                    <h2> Sample 2.</h2>
                    <h2> Sample 3.</h2>
                    <h2> Sample 4.</h2>
                    <h2>Sample 5.</h2>
                </div>

                <div class="product-selctor">
                <h4>Product</h4>
                <div class="select-sample1">
                        <div class="selctor-design">
                                <p>Select <i class="arrow-down"></i> </p>
                            </div>
                            <div class="selctor-design">
                                    <p>Select <i class="arrow-down"></i> </p></div>
                            <div class="selctor-design">
                                    <p>Select <i class="arrow-down"></i> </p></div>
                            <div class="selctor-design">
                                    <p>Select <i class="arrow-down"></i> </p></div>
                                    <div class="selctor-design">
                                            <p>Select <i class="arrow-down"></i> </p></div>
                </div>
                </div>
                <div class="product-selctor">
                        <h4>Accessories</h4>
                        <div class="select-sample1">
                                <div class="selctor-design">
                                        <p>Select <i class="arrow-down"></i> </p>
                                    </div>
                                    <div class="selctor-design">
                                            <p>Select <i class="arrow-down"></i> </p></div>
                                    <div class="selctor-design">
                                            <p>Select <i class="arrow-down"></i> </p></div>
                                    <div class="selctor-design">
                                            <p>Select <i class="arrow-down"></i> </p></div>
                                            <div class="selctor-design">
                                                    <p>Select <i class="arrow-down"></i> </p></div>
                        </div>
                        </div>
                        <div class="product-selctor">
                                <h4>Size</h4>
                                <div class="select-sample1">
                                        <div class="selctor-design">
                                                <p>Select <i class="arrow-down"></i> </p>
                                            </div>
                                            <div class="selctor-design">
                                                    <p>Select <i class="arrow-down"></i> </p></div>
                                            <div class="selctor-design">
                                                    <p>Select <i class="arrow-down"></i> </p></div>
                                            <div class="selctor-design">
                                                    <p>Select <i class="arrow-down"></i> </p></div>
                                                    <div class="selctor-design">
                                                            <p>Select <i class="arrow-down"></i> </p></div>
                                                    
                                </div>
                                </div>
                                <div class="product-selctor">
                                        <h4>Finish</h4>
                                        <div class="select-sample1">
                                                <div class="selctor-design">
                                                        <p>Select <i class="arrow-down"></i> </p>
                                                    </div>
                                                    <div class="selctor-design">
                                                            <p>Select <i class="arrow-down"></i> </p></div>
                                                    <div class="selctor-design">
                                                            <p>Select <i class="arrow-down"></i> </p></div>
                                                    <div class="selctor-design">
                                                            <p>Select <i class="arrow-down"></i> </p></div>
                                                            <div class="selctor-design">
                                                                    <p>Select <i class="arrow-down"></i> </p></div>
                                        </div>
                                        </div>
                                        
            </div>
          <!-- <div class="select-sample1">
                <h2>Sample 1.</h2>
                <div class="selctor-design">
                    <p>Select <i class="arrow-down"></i> </p>
                </div>
                <div class="selctor-design">
                        <p>Select <i class="arrow-down"></i> </p></div>
                <div class="selctor-design">
                        <p>Select <i class="arrow-down"></i> </p></div>
                <div class="selctor-design">
                        <p>Select <i class="arrow-down"></i> </p></div>
            </div>-->
        </div>


        </div>
{% endblock %}