{% extends "./base.html" %}
{% block content %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SwissLabs::SwissPack</title>
    <link rel="stylesheet" href="/media/static/css/swiss-labs.css">
</head>

<body>
    
    <div class="overlay1-productr">
        <div class="header-img">
            <img src="/media/static//images/Path 5735.svg" alt="" class="overlay1-blue">
            <div class="overlay-top">
            <img src="/media/static//images/Path 5727.png" alt=""  class= "overlay2-picture">
            <img src="/media/static//images/Path 5732.svg" alt="" class= "overlay3-darkblue">
            </div>
        </div>
        <div class="productr-overlay">
            <div class="productr-heading" >
            <h1 class="productr-heading-overlay" >SWISS</h1>
            <h1 class="productr-heading-overlay1">LABS</h1>
            </div>
            <p class="product-description">A leading manufacturer in flexible packaging, Established for over 40 Years, we're trusted by the biggest consumer brands!</p>
            <button class="header-gsbutton"> Get Samples</button>
    
        </div>
        </div>

     <!--   <div class="my-overlay5">

      <DIV class="three-layer-design">
            <div class="light-blue-tld">  </div>
            <div class="dark-blue-tld"> 
            </div>
        </DIV>

        <div class="innovation-button">
                <div class="button1">
                    
                    <h4>Design Innovation</h4>
                </div>
                <div class="button2">
                    <h4>Material Innovation</h4>
                </div>
                <div class="button3">
                    <h4> Consultancy Service</h4>
                </div>
         </div>

        </div>
    -->
      <!--  <div class="innovation-button">
               <button class="design-inn"> Design Innovation</button>
               <button class="material-inn">Material Innovation</button>
               <button class="consultancy-inn">Consultancy Services</button>
        </div>-->

        <div class="search-overlay">
                <div class="search-industry">
                    <div class="light-background">
                    </div>
                    <div class="dark-background"></div>
                </div>
        
       <!-- <input type="text" placeholder="Search Industry" class="search-bar">-->

       <div class="button-overlay">

       <button class="button1"><a href="{% url 'design' %}"> Design Innovation</a></button>
       <button class="button1"><a href="{% url 'material' %}"> Material Innovation</a></button>
       <button class="button1"> Consultancy Services</button>
       </div>
                </div>


        <div class="middle-text"> <p>Reach out to selection of our vetted designers, 0% Fees,</p></div>

        {% block new_content %}
        {% endblock %}

</body>
{% endblock %}