{% extends "./base.html" %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home::SwissPack</title>
    <link rel="stylesheet" href="/media/static/css/home.css">
</head>

    <div class="upper-body-grid" >
        <div class="item1-ub">
            <img src="/media/static/images/Path 5855.png" alt="background" width="1388" height="435">

        </div>
        <div class="item2-ub">

            <div class="overlay1">
                <img src="/media/static/images/Rectangle 13.png" alt="" class="item21-ub">
                <img src="/media/static/images/Path 5410.svg" alt="" class="item22-ub">
            </div>
                
        <div class="item2a-ub">
            <img src="/media/static/images/Rectangle 12.png" alt="" class="brexit">
        </div>
        <div class="item2b-ub">
            <img src="/media/static/images/Rectangle 14.png" alt="" class="stroller">
            <img src="/media/static/images/Path 5449.svg" alt="" class="item2b1-ub">
        </div>
    </div>
        <div class="item3-ub">
            <div class="overlay2">
                <img src="/media/static/images/Rectangle 1173.png" alt="" width="329" height="475" class="pro1">
                    <img src="/media/static/images/Path 5479.svg" alt="" class="pro1-yellow">

            </div>
        <div class="item3a-ub">
            <img src="/media/static/images/Rectangle 19.png" alt="" class="">
        </div>
        <div class="item3b-ub">
            <img src="/media/static/images/Path 25.png" alt="" class="pinkcream" >
            <img src="/media/static/images/Path 5413.svg" alt="" class="pink-over">
        </div>
        </div>

    </div>


    <div class="product-portion">
        <div class="product-message">
            <h2>Solutions designed for all your needs</h2>
            <p>Flexible packaging is our craft, from <br> custom shaped and printed packaging to stock items, each item is manufactured to the same high quality standard. We offer 40 Years of design and operational expertise to provide you packaging that elevates your product.</p>
            <button class="bt">View all ranges</button>
        </div>
       <div class="sample-product-grid">
           <div class="sample-product1">
            <img src="/media/static/images/Rectangle 1173.png" alt="">
            <h2> Swiss Lite Range</h2>
            <p>A leading manufacturer in flexible packaging, Established for over 40 Years, we're trusted by the biggest consumer brands!</p>
           </div>
        <div class="sample-product2">
            <img src="/media/static/images/Rectangle 1173.png" alt="">
            <h2> Swiss Doy Range</h2>
            <p>A leading manufacturer in flexible packaging, Established for over 40 Years, we're trusted by the biggest consumer brands!</p>
        </div>
        <div class="sample-product3">
            <img src="/media/static/images/Rectangle 1173.png" alt="">
            <h2>Swiss Tasche Range</h2>
            <p>A leading manufacturer in flexible <br>  packaging, Established for over 40 <br> Years, we're trusted by the biggest consumer brands!</p>
        </div>
        </div>

    </div>

    <div class="globe-grid">
        <div class="map">
            <img src="/media/static/images/Group 840.png" alt="" class="globe-background">
            <img src="/media/static/images/Group 841.svg" alt="" class="globe-overlay">
            <div class="globe-card"> 
                <h4>Research & Development</h4>
                <h2>Swiss Pack Across the Globe</h2>
                <div class="globe-stats">
                    <div>
                    <h1>3</h1>
                    <h3>Manufacturing Plants across Asia</h3>
                   </div>
                    <div><h1>5</h1>
                    <h3>Global Distribution Regional Office</h3>
                   </div>
                   <div>
                        <h1>1bn+</h1> 

                    <h3>Custom Units Printed till date</h3>
                    </div>
                    <div>
                    <h1>10m+</h1>
                    <h3>Supply ability of units P/Month</h3>
                    </div>
                </div>


            </div>
        </div>
        <div class="globe-description">
            <p>Flexible packaging is our craft, from custom shaped and printed packaging to stock items, each item is manufactured to the same high quality standard. We offer 40 Years of design and operational expertise to provide you packaging that <br> elevates your product.Flexible packaging is our craft, from custom shaped and printed packaging to stock items, each item is manufactured to the same high quality standard. We offer 40 Years of design and operational expertise to provide you packaging that elevates your product.</p>
            <button>
                <div></div> About Us </button>
        </div>
    </div>

    <div class="lower-body">
        <div class="description-lb">
            <p>Flexible packaging is our craft, from custom shaped and printed packaging to stock items, each item is manufactured to the same high quality standard. We offer 40 Years of design and operational expertise to provide you packaging that elevates your product.Flexible packaging is our craft, from custom shaped and printed packaging to stock items, each item is manufactured to the same high quality standard. We offer 40 Years of design and operational expertise to provide you packaging that elevates your product.</p>
            <button > Swiss Labs </button>
        </div>
        <div class="joiner">
        <div class="background-lb">
            <img src="/media/static/images/Group 852.png" alt="" class="background-lablb">
        </div>

        <div class="rd-lb"> 
            <h2>Research & Development</h2>
            <p>At Swiss Labs we're driving innovation through material, product and design innovation.</p>
        </div>

        </div>
    </div>
{% endblock %}