<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/media/static/css/object.css">
</head>
<body>

        <div class="overlay1-productr">
                <div class="header-img">
                    <img src="/media/static/images/Path 5735.svg" alt="" class="overlay1-blue">
                    <div class="overlay-top">
                    <img src="/media/static/images/Path 5727.png" alt=""  class= "overlay2-picture">
                    <img src="/media/static/images/Path 5732.svg" alt="" class= "overlay3-darkblue">
                    </div>
                </div>
                <div class="productr-overlay">
                    <div class="productr-heading" >
                    <h1 class="productr-heading-overlay" >George</h1>
                    <h1 class="productr-heading-overlay1">Cuthbertson</h1>
                    </div>
                    <p class="product-description">A leading manufacturer in flexible packaging, Established for over 40 Years, we're trusted by the biggest consumer brands!</p>
                    <!--<button class="header-gsbutton"> Get Samples</button>-->
            
                </div>
                </div>

                <div class="middle-section">

            
                <div class="left-section">
                    <h2>Get a Free Quote</h2>
                    <input type="text" placeholder="First Name*">
                    <input type="text" placeholder="Last Name">
                    <input type="text" placeholder="Email">
                    <input type="text" placeholder="Phone*">
                    <input type="text" placeholder="Industry*">
                    <input type="text" placeholder="Requirements*" class="big-box1">
                    <p>I understand the Terms of Use of this site & agree to the be contacted.</p>

                    <button>Agree & Send Message</button>
                </div>

                <div class="right-side-img">
                <img src="/media/static/images/Path 5796.png" alt="">
                <h2>George Cuthbertson</h2>
                <p>Flexible packaging is our craft, from custom shaped and printed packaging to stock items, each item is manufactured to the same high quality standard. We offer 40 Years of design and operational expertise to provide you packaging that elevates your product. Flexible packaging is our craft, from custom shaped and printed packaging to stock items, each item is manufactured to the same high quality standard. We offer 40 Years of design and operational expertise to provide you packaging that elevates your product.</p>
                </div>

            </div>

            <div class="image-gallery1">
                <img src="/media/static/images/Path 5905.png" alt="">
                <img src="/media/static/images/Path 5905.png" alt="">
                <img src="/media/static/images/Path 5905.png" alt="">
                <img src="/media/static/images/Path 5905.png" alt="">
                
                </div>
                <div class="image-gallery2">
                <img src="/media/static/images/Path 5905.png" alt="">
                <img src="/media/static/images/Path 5905.png" alt="">
                <img src="/media/static/images/Path 5905.png" alt="">
                <img src="/media/static/images/Path 5905.png" alt="">

            </div>



    
</body>
</html>