<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <div class="overlay1-productr">
        <div class="header-img">
            <img src="Path 5735.svg" alt="" class="overlay1-blue">
            <div class="overlay-top">
            <img src="Path 5727.png" alt=""  class= "overlay2-picture">
            <img src="Path 5732.svg" alt="" class= "overlay3-darkblue">
            </div>
        </div>
        <div class="productr-overlay">
            <div class="productr-heading" >
            <h1 class="productr-heading-overlay" >SWISS</h1>
            <h1 class="productr-heading-overlay1">LABS</h1>
            </div>
            <p class="product-description">A leading manufacturer in flexible packaging, Established for over 40 Years, we're trusted by the biggest consumer brands!</p>
            <button class="header-gsbutton"> Get Samples</button>
    
        </div>
        </div>

        <div class="search-overlay">
                <div class="search-industry">
                    <div class="light-background">
                    </div>
                    <div class="dark-background"></div>
                </div>

                <div class="button-overlay">

                        <button > Design Innovation </button>
                        <button > Material Innovation</button>
                        <button class="button1"> Consultancy Services</button>
                        </div>
                                 </div>

                                 <div class="middle-selection-bar" >
                                     <h2>What we do</h2>
                                     <h2>Client Results</h2>
                                     <h2>Our Approach</h2>
                                 </div>

                                 <div class="what-we-do-section">
                                     <div class="line1"></div>
                                     <div>
                                         <h1>What We Do</h1>
                                     </div>
                                     <div class="line2"></div>
                                 </div>

                                 <div class="we-do-description">
                                     <h4>Life cycle Assessment</h4>
                                     <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                
                                     <h4>Material Testing</h4>
                                     <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                     <h4>Product Sourcing</h4>
                                     <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                     <h4>Capability Sourcing</h4>
                                     <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                     <h4>Packaging/Product Validation</h4>
                                     <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                     <h4>Machinery & Equipment Solution</h4>
                                     <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                     <h4>Fulfilment,Storage & Distribution Solution</h4>
                                     <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                               
                                    </div>
                                    <div class="what-we-do-section">
                                        <div class="line1"></div>
                                        <div>
                                            <h1>Our Approach</h1>
                                        </div>
                                        <div class="line2"></div>
                                    </div>
<div class="approach-section" >
    <div class="approach-box1">
        <h4>Design</h4>
        <h6>Bespoke solutions designed around you.</h6>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

    </div>
    <div class="approach-box1">
            <h4>Design</h4>
            <h6>Bespoke solutions designed around you.</h6>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    
        </div>
        <div class="approach-box1">
                <h4>Design</h4>
                <h6>Bespoke solutions designed around you.</h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        
            </div>
</div>





                                    <div class="what-we-do-section">
                                        <div class="line1"></div>
                                        <div>
                                            <h1>Our Results</h1>
                                        </div>
                                        <div class="line2"></div>
                                    </div>

                                    <div class="results-section">
                                        <div class="result-box1">
                                            <div class="random-box1"></div>
                                            <h4>Heinz Ketchup</h4>
                                            <p>A leading manufacturer in flexible packaging, Established for over 40 Years, we're trusted by the biggest consumer brands!</p>
                                        </div>
                                        <div class="result-box1">
                                                <div class="random-box1"></div>
                                                <h4>Walkers Crisps</h4>
                                                <p>A leading manufacturer in flexible packaging, Established for over 40 Years, we're trusted by the biggest consumer brands!</p>
                                            </div>
                                            <div class="result-box1">
                                                    <div class="random-box1"></div>
                                                    <h4>Morrisons</h4>
                                                    <p>A leading manufacturer in flexible packaging, Established for over 40 Years, we're trusted by the biggest consumer brands!</p>
                                                </div>
        
    

                                    </div>





                                    <div class="what-we-do-section">
                                        <div class="line1"></div>
                                        <div>
                                            <h1>Talk to Us?</h1>
                                        </div>
                                        <div class="line2"></div>
                                    </div>

</body>
</html>